private_dot_config/chezmoi/**
private_dot_config/discord/**
private_dot_config/google-chrome/**
private_dot_config/chromium/**
private_dot_config/Code/**
private_dot_config/Slack/**
private_dot_config/tetrio-desktop/**
private_dot_config/GitHub\ Desktop/**
private_dot_config/byobu/**
private_dot_config/konsave/**
private_dot_config/lunarclient/**
private_dot_config/calibre/**
private_dot_config/Google/**
private_dot_config/mps-youtube/**
private_dot_config/balena-etcher/**
private_dot_config/calibre/**
private_dot_config/obs-studio/**
private_dot_config/qBittorrent/**
private_dot_config/adept/**
private_dot_config/spotify/**
private_dot_config/PreMiD/**
private_dot_config/libaccounts-glib/**
private_dot_config/konsave/**
private_dot_config/kdeconnect/**
private_dot_config/kdeconnect.bak/**
private_dot_config/private_BraveSoftware/**
private_dot_config/OpenRGB/**
private_dot_config/cef_user_data/**
private_dot_config/Unknown\ Organization/**
private_dot_config/vice/**
private_dot_config/ookla/**
private_dot_config/MuseScore/**
private_dot_config/GIMP/**
private_dot_config/brinkervii/**
private_dot_config/asciinema/**
private_dot_config/spectaclerc
private_dot_config/session/**
private_dot_config/dconf/**
private_dot_config/gwenviewrc
private_dot_config/pulse/**
private_dot_config/Pinta/**
private_dot_config/PulseViewrc
private_dot_config/private_Thunar/**
private_dot_config/arkrc
private_dot_config/audacious/**
private_dot_config/audacity/**
private_dot_config/bless/**
private_dot_config/private_cmus/**
private_dot_config/furnace/backups/**
private_dot_config/furnace/*.log*
private_dot_config/kconf_updaterc
private_dot_config/kde.org/UserFeedback.*
private_dot_config/Arduino\ IDE/**
private_dot_config/private_arduino-ide/**
private_dot_config/private_xdg-desktop-portal-kderc
private_dot_config/zoomus.conf
private_dot_config/private_*
private_dot_config/private_*/**
