[Desktop Entry]
Type=Application
Version=1.0
Name=premid
Comment=premidstartup script
Exec=/opt/premid/premid --hidden
StartupNotify=false
Terminal=false