[Unit]
Description=Synchronize neomutt email with mbsync
Documentation=https://github.com/LukeSmithxyz/mutt-wizard

[Service]
ExecStart=/usr/bin/mailsync
Type=oneshot
